.hero-slider {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: scale(1.05);
  transition: opacity 0.8s ease, transform 1s ease;
}

.slide.active {
  opacity: 1;
  transform: scale(1);
}

/* Arrows */
.arrow {
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%); */
  background: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 30px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  font-size: 20px;
  color: #333;
  transition: 0.3s;
}

.arrow:hover {
  /* background: white; */
  color: #a43b2b;
}

.arrow.left {
  left: 20px;
  
}

.arrow.right {
  right: 20px;
  
}

/* Dots */
.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  /* transform: translateX(-50%); */
  display: flex;
  gap: 10px;
  z-index: 10;
}

.dots span {
  width: 12px;
  height: 12px;
  /* background: rgba(255, 255, 255, 0.6); */
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.dots span.active {
  background: #a43b2b;
  width: 25px;
  border-radius: 12px;
}
